* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: #f3f2f2;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

img {
  width: 100%;
}

.diary-entry {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  overflow: auto;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0 auto;
}

.diary-entry .list-container:first-child {
  margin-top: 0.5rem;
}

.list-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 500px;
  min-width: 20%;
  border: 1px solid #e30000;
  border-radius: 1rem;
  padding: 0.7rem 1rem;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.list-container:hover {
  transform: scale(1.05);
}

.list-container img {
  margin-right: 0.5rem;
  width: 75px;
}

.details-container {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}

.date-container {
  display: flex;
  align-items: center;
}

.date-container > p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.date-container p:first-child {
  margin-right: 1rem;
}

.date {
  font-size: 1.5rem;
  font-weight: 700;
}

/* Date filter by month */
.filter-date-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-flow: row nowrap;
  max-width: 100%;
  margin: 0 auto;
  margin-block: 2rem;
}

.filter-date-container > .filter-date {
  cursor: pointer;
}

.filter-date {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 2rem;
  width: 200px;
  border: 1px solid #d81717;
  border-radius: 1rem;
  transition: all 0.2s ease-in;
}

.filter-date:hover {
  background-color: #d81717;
  color: #fff;
}

.toolbar-container {
  width: 100%;
  position: relative;
  background-color: #fff;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.add-diary {
  position: absolute;
  top: -40% !important;
  background: #fc2d2d;
  padding: 1.6rem;
  border-radius: 50%;
}

.toolbar-container div > img {
  width: 40px;
  filter: hue-rotate(90deg);
  cursor: pointer;
}

.hide {
  transform: translateY(-100%);
}

.show {
  transform: translateY(0);
}
